@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* header */

header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(11px);
}

.head {
    margin-left: 90px;
    margin-right: 90px;
    padding: 15px;
    display: flex;
    place-content: end space-between;
    align-items: center;
    text-align: center;
}

.nav-header  {
    display: flex;
}

.nav-toggle {
    display: none;
  }

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .head {
        align-items: center;
        justify-content: space-between;
        margin-left: 1px;
        margin-right: 1px;
        padding: 5px;
    }
.nav-header {
    margin-bottom: auto;
}
    .nav-header  img {
        width: 70%;
    }
.nav-con {
    display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
}

      .nav-btn {
        display: flex;
        justify-content: flex-end;
      }
      .nav-toggle {
        display: flex;
        font-size: 1.5rem;
        color: white;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
      }
      
      .links-container {
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
      }
      .links {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        font-size: 12px;
      }
      .show-links {
        height: 130px;
      }
      ul {
        gap: 8px;
      }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .head {
        margin-left: 1px;
        margin-right: 1px;
        padding: 5px;
    }
    .nav-header  img {
        width: 80%;
    }
    ul {
        gap: 16px;
    }
}

/* block one */

.back_screen {
    width: 100%;
    height: 100%;
}

.offer {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    top: 250px;
    padding: 0px 100px 0px 80px;
    color: white;
}

.hr-sect {
    width: 40%;
}

.font {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

hr {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 5px;
    float: left;
    width: 30%;
    border: 1px solid #FFFFFF;
}

h2 {
    text-transform: capitalize;
    font-family: 'Playfair Display';
    font-size: 72px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    flex: none;
    align-self: stretch;
}

.btn_one {
    margin-top: 32px;
    background-color: #7F57F1;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    box-shadow: 0px 1px 2px rgba(127, 87, 241, 0.05);
    border-radius: 8px;
    width: 18%;
}

.btn_font {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15.7px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.search {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 90px;
    justify-content: center;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 8px;
    width: 80%;
}

.finder {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 30px 40px 15px 40px;
}

#find_font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #2F234F;
    margin: 0;
    border: 0;
}

.icon {
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
}

.select-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
    padding: 15px 40px 30px 40px;
}

.select_box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#location,
#category,
#property {
    padding: 10px 14px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #667085;
    -webkit-appearance: none;
}

.arr_icon {
    position: absolute;
    border-radius: 0px;
    margin: 13px 2px 13px 5px;
    border: 0;
    background: #FFFFFF;
}

.sbt_btn {
    width: 100%;
}

#submit {
    padding: 14px 18px;
    width: 100%;
    border: 1px solid #D0D5DD;
    background: #7F57F1;
    box-shadow: 0px 1px 2px rgba(127, 87, 241, 0.05);
    border-radius: 6px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .offer {
        top: 50px;
        padding: 0px 10px;
    }
    hr {
        margin-top: 6px;
        width: 15%;
    }
    .font {
        font-size: 13px;
        line-height: 15px;
        padding-top: 10px;
        width: 90%;
    }
    h2 {
        font-size: 32px;
        line-height: 30px;
    }
    .btn_one {
        margin-top: 9px;
        width: 30%;
        padding: 5px 8px;
    }
    .btn_font {
        font-size: 10px;
    }
    .search {
        bottom: 30px;
    }
    .select-sect {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0px;
        padding: 0px;
    }
    .select_box {
        width: 47%;
        padding: 10px 0px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .offer {
        top: 70px;
        padding: 0px 10px;
    }
    hr {
        margin-top: 6px;
        width: 15%;
    }
    .font {
        font-size: 15px;
        line-height: 15px;
        padding-top: 10px;
        width: 80%;
    }
    h2 {
        font-size: 42px;
        line-height: 40px;
    }
    .hr-sect {
        width: auto;
    }
    .btn_one {
        margin-top: 12px;
        width: 29%;
        padding: 5px 8px;
    }
    .btn_font {
        font-size: 13px;
    }
    .search {
        width: 70%;
        bottom: 60px;
    }
    .select-sect {
        flex-wrap: wrap;
        }
}

@media only screen and (min-width: 769px) and (max-width: 984px) {
    .offer {
        top: 150px;
        padding: 0px 30px;
    }
    h2 {
        font-size: 42px;
        line-height: 70px;
    }
    .btn_one {
        margin-top: 12px;
        width: 21%;
    }
    .select-sect {
    flex-wrap: wrap;
    }
}

/* block two */

.feature {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 68px;
    padding: 0px 210px;
}

h3 {
    text-transform: capitalize;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1px;
    color: #7F57F1;
}

.feature_font {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    color: #2F234F;
}

.item-a {
    grid-area: a;
    margin: 0 auto;
}

.item-b {
    grid-area: b;
    margin: 0 auto;

}

.item-c {
    grid-area: c;
    margin: 0 auto;

}

.item-d {
    grid-area: d;
    margin: 0 auto;

}

.item-e {
    grid-area: e;
    margin: 0 auto;

}

.proj_pic {
    overflow: hidden;
    perspective: 1px;
    border-collapse: separate;
    gap: 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas:
        "a b c"
        "a d e";
}

.b_style {
    border-radius: 6px;
}

.backstg {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.proj_des {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    margin-top: 55px;
    width: 22%;
    text-align: center;
}

.font1 {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.h4-font {
    text-transform: capitalize;
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.btn_icon {
    display: flex;
    justify-content: center;    
    margin: 30px auto;
    border-radius: 50px;
    border: 0;
    background: none;
}

@media only screen and (max-width: 390px) {
    .item-a, .item-b, .item-c, .item-d, .item-e {
    width: 80%
    }
}

@media only screen and (max-width: 799px) {
    .two .feature {
        padding: 0px 20px;
    }
    .proj_pic {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
    }
    .backstg {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
    .proj_des {
        margin-top: 25px;
        width: 48%;
    }
    .btn_icon {
        margin: 20px auto;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1210px) {
    .feature {
        padding: 0px 30px;
    }
    .proj_pic {
    grid-template-areas:
        "a b"
        "a c"
        "d e";
    }
    .backstg {
   justify-content: flex-end;
   width: 82%;
    }
    .proj_des {
    width: 30%;
    }
}
/* block three */

.h3_con {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 42px;
    margin-top: 42px;
    margin-left: 110px;
}

.main_con {
    display: flex;
    margin: auto;
}

.containers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px;
    margin-bottom: 20px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 10px 2px rgba(245, 245, 245, 1);
}

.img_con {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover {
    margin-left: 188px;
}

.con_title {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
    color: #2F234F;
}

.con_des {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(47, 35, 79, 0.5);
}

@media only screen and (max-width: 920px) {
.main_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containers {
    margin-left: 10px;
    margin-right: 10px;
}
.cover {
    width: 100%;
    margin-left: 0%;
    padding: 0px 10px;
}
}
@media only screen and (min-width: 921px)  and (max-width: 1024px){
    .containers {
        margin-left: 20px;
    }
    .img_con {
        padding-right: 20px;
    }
    .cover {
        margin-left: 90px;
    }
    }

@media only screen and (min-width: 1025px) {
        .containers {
            margin-left: 40px;
        }
        .img_con {
            margin-right: 40px;
        }
    }
/* block four */

.main_box {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.img_des {
    width: 100%;
}
.img_des img {
    width: 100%;
    height: 100%;
}
.four .feature {
    width: auto;
} 

.des_descripe {
    background-color: #F6F3FF;
    padding: 43px 42px;
    border-radius: 4px;
}

.design_purple {
    display: flex;
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1px;
    color: #7F57F1;
    margin-bottom: 16px;
}

.design_black {
    display: flex;
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1px;
    color: #2F234F;
    margin-bottom: 16px;
}

.design_p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    color: rgba(47, 35, 79, 0.8);
    margin-bottom: 8px;
}

#box_a {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    color: #7F57F1;
}

.price {
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: 2px;
    color: #2F234F;
}

.price_month {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 2px;
    color: #2F234F;
}

.more_btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid;
    border-color: #7F57F1;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: #7F57F1;
}

@media only screen and (max-width: 919px) {
    .four .feature {
        padding: 30px 20px 0px 20px;
    }
.example {
    padding: 0px 20px 20px 20px;
}
}

@media only screen and (min-width: 920px) {
    .four .feature {
        padding: 50px 120px 0px 120px;
    } 
    .example {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .example div {
        width: 48%;
    }
}



/* block five */

.feature5 {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
    padding: 50px 30px 0px 30px;
}

.team_members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    column-gap: 32px;
}

.member {
    padding: 38px 50px;
    text-align: center;
}

.founder_member {
    padding: 20px 32px;
    text-align: center;
    box-shadow: 0px 8px 10px 2px rgba(245, 245, 245, 1);
}

.co_founder_name {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: #2F234F;
}

.position {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(47, 35, 79, 0.5);
}

.founder_name {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #2F234F;
}

.founder_position {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(47, 35, 79, 0.5);
}

.social_contacts {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    visibility: hidden;
}
@media only screen and (max-width: 768px){
.feature5 {
    padding: 20px 20px;
}
}

/* block six */

.feature6 {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    padding: 70px 30px 0px 30px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    column-gap: 83px;
}

.clients_bond {
    display: flex;
    padding: 0px 30px;
}

.client_ {
    padding: 0px 30px;
}

.opinion_box {
    position: relative;
    display: inline-block;
    padding: 0px 20px 40px 20px;
    box-shadow: 0px 8px 10px 2px rgba(245, 245, 245, 1);
}

.opinion_box::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13.6px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 13.6px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.client_opinion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 8px;
    margin: auto;
    align-content: center;
    align-items: center;
}

#client_quotemark {
    margin: 8px 0;
}

.client_title {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
}

.client_des {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    margin-top: 30px;
}

.client_name {
    display: block;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(47, 35, 79, 0.8);
}

.client_position {
    display: block;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(47, 35, 79, 0.5);
}

.dots {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin: 80px auto;
}

#outlined_dots {
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    border: 0;
    background: none;
}

.active_dot {
    position: absolute;
    right: 16px;
    opacity: 1;
}

.active_dot_img {
    opacity: 0;
    transition: all .5s ease;
}

.prev_dot_img {
    position: absolute;
    left: -3px;
    opacity: 0;
}

.prev_dot {
    opacity: 1;
    transition: all .5s ease;
}

.next_dot_img {
    position: absolute;
    right: -3px;
    opacity: 0;
}

.next_dot {
    opacity: 1;
    transition: all .5s ease;
}

@media only screen and (max-width: 768px) {
.clients_bond {
    display: block;
}
}

/* block seven */

.seven {
    background-color: #7F57F1;
    padding-bottom: 210px;
}

.tie_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 47px;
}

.rect {
    position: relative;
    width: 43%;
}

.rectangular_one {
    position: relative;
    width: 52%;
    height: 138%;
    margin: 0;
    left: 40px;
    bottom: 70px;
    transform: rotate(16.27deg);
    box-shadow: 11px 12px 8px -9px rgba(47, 35, 79, 0.3);
}

.rectangular_two {
    position: relative;
    float: right;
    margin: 0;
    bottom: 165px;
    right: 20px;
    width: 50%;
    height: 138%;
    transform: rotate(37.02deg);
    box-shadow: 0 -7px 10px -8px rgba(47, 35, 79, 0.3);
}

.rectangular_two::before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 0px;
    left: -2px;
    width: 68%;
    top: 82%;
    max-width: 300px;
    background: #7F57F1;
    box-shadow: 4px 14px 10px -9px rgba(47, 35, 79, 0.3);
}

.rectangular_two::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10%;
    left: 145px;
    width: 71%;
    top: 21%;
    max-height: 100px;
    max-width: 300px;
    transform: rotate(90deg);
    background: #7F57F1;
    box-shadow: -1px -14px 10px -9px rgba(47, 35, 79, 0.3);
}

.newsletter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 21px;
    width: 44%;
    top: 60px;
}

.request_des {
    text-align: left;
}

.request_des .font {
    width: auto;
}

.send_request {
    display: flex;
    width: auto;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 1px 3px 10px 0px rgba(47, 35, 79, 0.5);
}

.email_input {
    width: 80%;
    padding: 16px 24px 16px 24px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(47, 35, 79, 0.5);
}

.sub_btn {
    width: 180px;
    padding: 16px 45px;
    border-radius: 0px 8px 8px 0px;
    border: none;
    background-color: #865CFE;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

#color_font {
    text-transform: capitalize;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-bottom: 8px;
}

@media only screen and (max-width: 480px) {
    .send_request {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: none;
    }
    
    .rectangular_one {
        height: 100%;
        width: 55%;
        left: 50px;
        bottom: 45px;
    }
    .rectangular_two {
        bottom: 115px;
        right: 90px;
        width: 78%;
        height: 138%;
        box-shadow: 0 -7px 10px -8px rgba(47, 35, 79, 0.3);
    }
    .rectangular_two::after {
        bottom: 0px;
        left: 42px;
        top: 0px;
        height: 53%;
        width: 70%;
        max-height: none;
        transform: none;
        box-shadow: 13px 0px 10px -9px rgba(47, 35, 79, 0.3);
    }
    .email_input {
        width: 97%;
        border-radius: 8px 8px 8px 8px;
        text-align: center;
    }
    .sub_btn {
        width: 70%;
        border-radius: 8px 8px 8px 8px;
        padding: 16px 35px;
        box-shadow: 1px 3px 10px 0px rgba(47, 35, 79, 0.5);
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .rectangular_one {
        height: 100%;
        width: 80%;
        left: 0px;
        bottom: 50px;
    }
    .rectangular_two {
        bottom: 150px;
        right: 30px;
        width: 70%;
        height: 100%;
    }
    .rectangular_two::before {
        bottom: 35px;
        left: -30px;
        width: 110%;
    }
    .rectangular_two::after {
        bottom: 10%;
        left: 120px;
        top: 25%;
        height: 46%;
        width: 70%;
        max-height: none;
        transform: none;
        box-shadow: 14px 1px 10px -9px rgba(47, 35, 79, 0.3);
    }
    .email_input {
        padding: 16px 16px;    }
    .sub_btn {
        width: 130px;
        padding: 16px 16px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .rectangular_one {
        height: 115%;
        width: 70%;
        left: 0px;
    }
    .rectangular_two::before {
        bottom: 80px;
        left: -110px;
        width: 120%;
        top: 70%;
    }
    .rectangular_two::after {
        left: 88px;
        top: 11%;
        height: 60%;
        width: 50%;
        max-height: none;
        transform: none;
        box-shadow: 14px -2px 10px -9px rgba(47, 35, 79, 0.3);
    }
    .sub_btn {
        width: 110px;
        padding: 16px 16px;
    }
}

/* block eight */

.eight {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 104px;
    padding: 0px 40px;
}

.logo_description {
    margin-top: 96.26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 24px;
}

.logodes_font {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    color: rgba(47, 35, 79, 0.5);
}

.box_style {
    text-align: left;
    margin-top: 144px;
}

.footer_title_font {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    color: #2F234F;
    padding: 0px 0px 24px 0px;
}

.prop_main_box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.prop_box {
    display: flex;
    column-gap: 16px;
}

.prop_description {
    display: flex;
    flex-wrap: wrap;
    row-gap: 13px;
}

.developer_info {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    color: #2F234F;
}

.prop_price {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    color: #7F57F1;
}

.info_box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
}

.contact_info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}

.media_color {
    color: rgba(47, 35, 79, 0.5);
}

@media only screen and (max-width: 480px) {
    .eight {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        margin: 0;
    }
    .logo_description{
        width: 90%;
        margin-top: 20px;
    }
    .logo_description img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo_description div{
        width: 100%;
    }
    .box_style {
        width: 80%;
        margin-top: 20px;
    }
    .photoprop {
        width: 60%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .eight {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding: 0px 10px;
    }
    .logo_description{
        width: 90%;
        margin-top: 40px;
    }
    .logo_description img {
        width: 100%;
    }
    .logo_description div{
        width: 100%;
    }
    .box_style {
        width: 80%;
        margin-top: 80px;
    }
    .prop_box{
        display: flex;
        flex-direction: column;
    }
    .photoprop {
        width: 80%;
    }
}
@media only screen and (min-width: 769px) {
    .eight {
        display: flex;
        column-gap: 20px;
        padding: 0px 20px;
    }
    .logo_description{
        width: 100%;
    }
    .logo_description img {
        width: 100%;
    }
    .logo_description div{
        width: 100%;
    }
    .photoprop {
        width: 80%;
    }
}
/**********************************************************/
.bounce {
    animation-name: bounce;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-15%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-7%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
    }
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: rgb(122, 108, 233);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    color: #FFFFFF;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}
